<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home View</title>

    <style>
        .main {
            margin: 0;
            padding: 0;
            width: 100%;
            float: left;
        }
        .container {
            margin: 0px auto;
            width: 1170px;
        }
    </style>
    
</head>

<body>
    <div class="main">
        <div class="container">
            <!-------------------------------------------Nav BAR------------------------->
          <button type="submit"><a href="signup">Sign Up</a></button>
          <button type="submit"><a href="login">Login</a></button>

        </div>
    </div>
</body>
</html>