<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX PAGE</title>
</head>
<body>
  {% load static %}
  <div class="main">
    <div class="container">
        <!-------------------------------------------Nav BAR------------------------->
      <button type="submit"><a href="dashboard">Add News</a></button>
      <button type="submit"><a href="logout">Logout</a></button>

    </div>
</div>
  <img src="{% static 'media/image/dash.webp' %}">
</body>
</html>